
@font-face {
  font-family: "ads";
  font-display: auto;
  src: local("ads"),
    url(../../assets/fonts/ads.eot) format("embedded-opentype"),
    url(../../assets/fonts/ads.ttf) format("truetype"),
    url(../../assets/fonts/ads.woff) format("woff"),
    url(../../assets/fonts/ads.svg?tgtwys##ads) format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: block;
}

[class*=" icon_wps_"],
[class^="icon_wps_"] {
  font-family: "ads" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 19px;
}

.icon_wps_point_full:before {
  content: "\e900";
}
.icon_wps_chat:before {
  content: "\e901";
}
.icon_wps_coding:before {
  content: "\e902";
}
.icon_wps_contact:before {
  content: "\e903";
}
.icon_wps_feedback_1:before {
  content: "\e904";
}
.icon_wps_telephone:before {
  content: "\e916";
}
.icon_wps_team:before {
  content: "\e915";
}
.icon_wps_feedback:before {
  content: "\e905";
}
.icon_wps_user_1:before {
  content: "\e917";
}
.icon_wps_laptop:before {
  content: "\e906";
}
.icon_wps_webpage:before {
  content: "\e907";
}
.icon_wps_cancel:before {
  content: "\e908";
}
.icon_wps_check:before {
  content: "\e909";
}
.icon_wps_heart:before {
  content: "\e90a";
}
.icon_wps_home:before {
  content: "\e90b";
}
.icon_wps_maximize:before {
  content: "\e90c";
}
.icon_wps_menu:before {
  content: "\e90d";
}
.icon_wps_mouse:before {
  content: "\e90e";
}
.icon_wps_printer:before {
  content: "\e90f";
}
.icon_wps_search:before {
  content: "\e910";
}
.icon_wps_settings:before {
  content: "\e911";
}
.icon_wps_shield:before {
  content: "\e912";
}
.icon_wps_smartphone:before {
  content: "\e913";
}
.icon_wps_speech_bubble:before {
  content: "\e914";
}
.icon_wps_star:before {
  content: "\e918";
}
.icon_wps_point:before {
  content: "\e919";
}
.icon_wps_point_simple:before {
  content: "\e91a";
}
.icon_wps_point_leg .path1:before {
  content: "\e91b";
  color: rgb(0, 0, 0);
}
.icon_wps_point_leg .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(249, 30, 30);
}
.icon_wps_point_leg .path3:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(226, 27, 27);
}
.icon_wps_point_leg .path4:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}