.slider {
  .view {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
  
    &:hover {
      .arrows {
        opacity: 1;
      }
    }
  
    .track {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      height: 100%;
    }
  
    .slide {
      width: 100%;
      height: 100%;
      flex-grow: 1;
      min-width: 100%;
      // transition: opacity 0.5s;
      // opacity: 0;

      // &.current {
      //   opacity: 1;
      // }
    }
  
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .arrows {
      opacity: 0;
      transition: opacity 0.3s;
  
      .arrowPrev,
      .arrowNext {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50px;
        background: rgba(0, 0, 0, 0.3);
        cursor: pointer;
      }
      .arrowPrev {
        left: 0;
      }
      .arrowNext {
        right: 0;
      }
    }
  }
  .nav {
    position: relative;
    width: 100%;
    margin-top: 10px;

    .track {
      display: flex;
      flex-wrap: wrap;
      width: calc(100% + 60px);
    }
    .slide {
      width: calc(100% / 8);
      min-width: calc(100% / 8);
      height: 80px;
      margin-right: 10px;
      margin-bottom: 10px;
      transition: opacity 0.3s;

      &.current {
        opacity: 0.8;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}