.dropZone {
  width: 100%;
  padding: 20px;
  border: 1px dashed #a6a6a6;
  min-height: 167px;
  position: relative;

  &.drag {
    z-index: 8;
    background: rgba(0, 0, 0, 0.3);
    opacity: 1;
    .zone {
      z-index: 999;
    }
  }

  .zone {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.4s;

    .input {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      opacity: 0;
    }
  }

  .dragText {
    font-size: 16px;
    line-height: 21px;
    position: relative;

    .selectFiles {
      cursor: pointer;
      color: #2d6cb4;
      background: transparent;
      border: none;
      text-decoration: none;
      outline: none;
      padding: 0;

      &:hover {
        color: #f51449;
      }

      .input {
        display: none;
      }
    }
  }

  // .track {
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin-left: -10px;
  //   width: calc(100% + 20px);
  //   position: relative;

  //   .item {
  //     // width: calc((100% / 4) - 1px);
  //     // height: 130px;
  //     width: 123px;
  //     height: 130px;
  //     padding: 20px 10px 0 10px;
  //     box-sizing: border-box;
  //     overflow: hidden;

  //     .wrap {
  //       width: 100%;
  //       height: 100%;
  //       cursor: grab;
  //       &:active {
  //         cursor: grabbing;
  //       }
  //     }

  //     .img {
  //       object-fit: cover;
  //       width: 100%;
  //       height: 100%;
  //       // -webkit-user-drag: none;
  //     }
  //   }
  // }
}