// .tablet {
//   .main {
//     padding: 40px 20px;
//   }
// }
// .mobile {
//   .main {
//     padding: 20px 10px;
//   }
// }
.create_ad {
  // width: 1400px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 40px;
}