.aside {
  // background-color: #fff;
  position: sticky;
  top: 80px;
  min-height: 200px;

  .wrap {
    // padding: 20px;
  }

  .price {
    font-size: 28px;
  }

  .phone {
    margin-top: 20px;
    // display: flex;
    // justify-content: center;
  }
}